/*----------------------------------------------
	color
----------------------------------------------*/
/*----------------------------------------------
	font
----------------------------------------------*/
/*----------------------------------------------
	breakpoint
----------------------------------------------*/
.v-header {
  padding: 121px 0;
}
@media (max-width: 767px) {
.v-header {
    padding: 25px 0 16px;
}
}
.v-header__inner {
  max-width: 960px;
  padding: 0 60px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
.v-header__inner {
    padding: 0 15px;
}
}
@media (max-width: 767px) {
.v-header__inner {
    display: block;
}
}
.v-header__logo {
  margin: 0;
}
@media (max-width: 767px) {
.v-header__logo {
    text-align: center;
}
}
@media (max-width: 767px) {
.v-header__nav {
    margin-top: 10px;
}
}
.v-header__nav > ul {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  list-style: none;
}
@media (max-width: 767px) {
.v-header__nav > ul {
    justify-content: center;
}
}
.v-header__nav > ul > li {
  margin-left: 12px;
}
.v-header__nav > ul > li > a {
  display: inline-block;
  padding: 4px 10px;
  color: #24292e;
  font-size: 1.44rem;
  text-decoration: none;
}
/*----------------------------------------------
	color
----------------------------------------------*/
/*----------------------------------------------
	font
----------------------------------------------*/
/*----------------------------------------------
	breakpoint
----------------------------------------------*/
.v-footer {
  background: #24292e;
  color: #fff;
  text-align: center;
  padding: 12px 0;
}
.v-footer__copy {
  font-size: 1rem;
}
/*----------------------------------------------
	color
----------------------------------------------*/
/*----------------------------------------------
	font
----------------------------------------------*/
/*----------------------------------------------
	breakpoint
----------------------------------------------*/
.v-heading2 {
  text-align: center;
  font-size: 2.4rem;
  line-height: 1.2083333333;
  margin-bottom: 70px;
}
@media (max-width: 767px) {
.v-heading2 {
    margin-bottom: 45px;
}
}
/*----------------------------------------------
	color
----------------------------------------------*/
/*----------------------------------------------
	font
----------------------------------------------*/
/*----------------------------------------------
	breakpoint
----------------------------------------------*/
.v-works {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 23px 24px;
}
@media (max-width: 767px) {
.v-works {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
}
}
/*----------------------------------------------
	color
----------------------------------------------*/
/*----------------------------------------------
	font
----------------------------------------------*/
/*----------------------------------------------
	breakpoint
----------------------------------------------*/
.v-works02[data-v-a42d5f3e] {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  gap: 140px 0;
}
@media (max-width: 767px) {
.v-works02[data-v-a42d5f3e] {
    gap: 52px 0;
}
}
.v-works02__title[data-v-a42d5f3e] {
  font-size: 1.44rem;
  line-height: 1.1805555556;
  margin: 34px 0 0;
}
@media (max-width: 767px) {
.v-works02__title[data-v-a42d5f3e] {
    margin-top: 24px;
}
}
.v-works02__content p[data-v-a42d5f3e] {
  margin: 15px 0 0;
}
/*----------------------------------------------
	color
----------------------------------------------*/
/*----------------------------------------------
	font
----------------------------------------------*/
/*----------------------------------------------
	breakpoint
----------------------------------------------*/
.v-news {
  padding: 0;
  margin: 0;
  list-style: none;
}
.v-news__item {
  border-top: 1px solid #c8c8c8;
}
.v-news__item:last-of-type {
  border-bottom: 1px solid #c8c8c8;
}
.v-news__item > a {
  display: flex;
  align-items: center;
  padding: 17px 14px;
  color: #24292e;
  text-decoration: none;
}
@media (max-width: 767px) {
.v-news__item > a {
    display: block;
}
}
.v-news__item-time {
  margin-right: 76px;
}
.v-news__item-title {
  flex: 1;
  margin: 0;
}
/*----------------------------------------------
	color
----------------------------------------------*/
/*----------------------------------------------
	font
----------------------------------------------*/
/*----------------------------------------------
	breakpoint
----------------------------------------------*/
.v-contact__input {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 107px 1fr;
  grid-template-columns: 107px 1fr;
  gap: 10px;
}
@media (max-width: 767px) {
.v-contact__input {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 4px;
}
}
@media (max-width: 767px) {
.v-contact__input > div:nth-of-type(even) {
    margin-bottom: 10px;
}
}
.v-contact__input input,
.v-contact__input textarea {
  width: 100%;
  padding: 10px 1em;
  border: 1px solid #c8c8c8;
  font-size: 1.6rem;
  line-height: 1.25;
}
.v-contact__input textarea {
  min-height: 160px;
}
.v-contact__button {
  margin-top: 30px;
}
.v-contact__button button[type=submit] {
  min-width: 200px;
  margin: 0 auto;
  padding: 16px 20px;
  background: #24292e;
  border: 1px solid #24292e;
  display: block;
  color: #fff;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.v-contact__button button[type=submit]:hover {
  background: #fff;
  color: #24292e;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}
@charset "UTF-8";
/*----------------------------------------------
	color
----------------------------------------------*/
/*----------------------------------------------
	font
----------------------------------------------*/
/*----------------------------------------------
	breakpoint
----------------------------------------------*/
html {
  font-size: 62.5%;
}

body {
  font-size: 1.44rem;
  font-family: "メイリオ", "Meiryo", "ＭＳ ゴシック", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", sans-serif;
  color: #24292e;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

picture > img {
  vertical-align: bottom;
}

.p-index__mv {
  height: 420px;
  margin-bottom: 87px;
}
.p-index__mv img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-index__works {
  max-width: 960px;
  padding: 0 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 137px;
}
@media (max-width: 767px) {
  .p-index__works {
    padding: 0 15px;
  }
}
.p-index__news {
  max-width: 960px;
  padding: 0 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 205px;
}
@media (max-width: 767px) {
  .p-index__news {
    padding: 0 15px;
  }
}
.p-index__link {
  text-align: center;
  margin-top: 54px;
}
.p-index__link > a {
  color: #24292e;
}
.p-index__link > a:hover {
  text-decoration: none;
}

.p-about-index__main {
  max-width: 960px;
  padding: 0 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
}
@media (max-width: 767px) {
  .p-about-index__main {
    padding: 0 15px;
  }
}
.p-about-index__main p {
  margin: 38px 0;
}

.p-works-index__works {
  max-width: 960px;
  padding: 0 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
}
@media (max-width: 767px) {
  .p-works-index__works {
    padding: 0 15px;
  }
}

.p-news-index__news {
  max-width: 960px;
  padding: 0 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 137px;
}
@media (max-width: 767px) {
  .p-news-index__news {
    padding: 0 15px;
  }
}

.p-contact-index__contact {
  max-width: 960px;
  padding: 0 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 245px;
}
@media (max-width: 767px) {
  .p-contact-index__contact {
    padding: 0 15px;
  }
}

/*# sourceMappingURL=style.css.map*/