@use '../variables/_color.scss' as color;

.p-index {
	&__mv {
		height: 420px;
		margin-bottom: 87px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__works {
		margin-bottom: 137px;
	}

	&__news {
		margin-bottom: 205px;
	}

	&__link {
		text-align: center;
		margin-top: 54px;

		> a {
			color: color.$font-primary;

			&:hover {
				text-decoration: none;
			}
		}
	}
}
