@use '../variables' as var;
@use '../mixin' as mix;

.p-index {
	&__mv {
		height: 420px;
		margin-bottom: 87px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__works {
		@include mix.container;

		margin-bottom: 137px;
	}

	&__news {
		@include mix.container;

		margin-bottom: 205px;
	}

	&__link {
		text-align: center;
		margin-top: 54px;

		> a {
			color: var.$color-font-primary;

			&:hover {
				text-decoration: none;
			}
		}
	}
}
