html {
    font-size: 62.5%;
    font-family: 'Noto Sans JP', sans-serif;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    color: #000;
    text-decoration: none;
}

ul, ol, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.pc-only {
    @media (min-width: 600px) {
        display: block;
    }

    @media (max-width: 599px) {
        display: none;
    }
}

.sp-only {
    @media (min-width: 600px) {
        display: none;
    }

    @media (max-width: 599px) {
        display: block;
    }
}

main {
    padding-top: 48px;
}

[data-btn="main"] {
    width: 132px;
    margin: 0 auto;

    a {
        width: 100%;
        display: inline-block;
        font-size: 1.8rem;
        color: #fff;
        line-height: 2em;
        text-align: center;
        border: 3px solid #009CCB;
        background-color: #009CCB;
        border-radius: 6px;
        transition: all 0.6s;

        &:hover {
            color: #009CCB;
            background-color: #fff;
            transition: all 0.6s;
        }
    }
}