@use 'variables/_color.scss' as color;

html {
    font-size: 62.5%;
    font-family: 'Noto Sans JP', sans-serif;
}

body {
	font-size: 1.44rem;
	color: color.$font-primary;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

picture {
	> img {
		vertical-align: bottom;
	}
}

.container {
	max-width: 960px;
	padding: 0 60px;
	margin: 0 auto;
}
