/*----------------------------------------------
	color
----------------------------------------------*/
$color-lightest: #fff;
$color-darkest: #24292e;

$color-font-primary: $color-darkest;

$color-border: #c8c8c8;
