// 共通パーツheaderのスタイル

header {
	width: 100%;
	height: 48px;
	background-color: #009CCB;
	user-select: none;
	position: fixed;
	top: 0;
	z-index: 100;
}

.header-inner {
	max-width: 980px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;

	&__logo {
		padding-left: 24px;

		h1 {
			a {
				color: #fff;
				font-size: 3rem;
				font-family: 'Barlow', sans-serif;
				font-weight: 100;
				line-height: 48px;
			}
		}
	}

	&__nav {
		ul {
			list-style: none;
			display: flex;
			height: 100%;

			li {
				height: 100%;

				a {
					color: #fff;
					font-size: 1.6rem;
					text-align: center;
					text-decoration: none;
					display: inline-block;
					width: 90px;
					height: 100%;
					line-height: 48px;

					&:hover {
						background-color: rgba($color: #fff, $alpha: .4);
						transition: all .6s;
					}
				}
			}
		}
	}

	&__hamburger {
		position: relative;
		width: 50px;
		height: 48px;
		margin-right: 12px;
		background: none;
		border: none;
		appearance: none;
		cursor: pointer;
		transition: all .4s;
		text-align: center;

		span {
			position: absolute;
			left: 12px;
			width: 27px;
			height: 3px;
			background-color: #fff;
			border-radius: 4px;
			display: inline-block;
			transition: all .4s;

			&:nth-of-type(1) {
				top: 14px;
			}
			&:nth-of-type(2) {
				top: 23px;
			}
			&:nth-of-type(3) {
				bottom: 13px;
			}
		}

		&.on {
			span:nth-of-type(1) {
				transform: translateY(9px) rotate(-45deg);
			}
			span:nth-of-type(2) {
				opacity: 0;
			}
			span:nth-of-type(3) {
				transform: translateY(-10px) rotate(45deg);
			}
		}
	}
}

.header-modal {
	width: 100%;
	opacity: 0;
	visibility: hidden;
	background-color: #009CCB;
	transition: opacity 400ms;
	position: absolute;
	bottom: 0;
	left: 0;
	transform: translateY(100%);

	&.on {
		opacity: 1;
		visibility: visible;
	}

	&__nav {
		margin: 0 24px;
		padding-top: 60px;

		ul {
			list-style: none;

			li {
				margin-bottom: 18px;

				a {
					font-size: 30px;
					color: #fff;
					font-weight: 700;
					display: inline-block;
					width: 100%;
				}
			}
		}
	}
}
